@tailwind base;
@tailwind components;
@tailwind utilities;

.container{
   max-width: none;
}
.header{
    margin: 2rem;
}
.login{
    align-items: center;
    margin: 2rem;
}
.message{
    margin: 2rem;
}